### Emacs garbage ###
auto-save-list
eshell
recentf
elpaca
eln-cache
projects
transient
tramp
.lsp-session-v1

### Emacs auto-save/backup files ###
*~

### My Configuration files ###
customs.el
.startup-lock